@import 'src/styles/_typography.scss';

.input-number {
    display: flex;
    flex-direction: column;

    input {
        padding: 6px 8px;
        border-radius: 4px;
        border: 1px solid var(--gray-350);
        @include font-size(1rem);

        &::placeholder {
            @include font-size(1rem);
        }
    }

    .ant-input-group-addon {
        cursor: pointer;
    }

    .ant-input-status-error {
        border-color: var(--red) !important
    }

    .ant-input-group-wrapper-status-error .ant-input-group-addon {
        color: var(--red);
        border-color: var(--red)
    }

    .ant-input-disabled {
        background-color: var(--gray-200);
    }
}