{
  "parser": "babel-eslint",
  // "extends": [ "react-app", "plugin:prettier/recommended" ],
  "extends": ["standard", "standard-react", "plugin:compat/recommended"],
  // "plugins": [ "prettier" ],
  "settings": {
    "polyfills": ["URL", "fetch", "Promise", "FormData", "location.hostname"]
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    // "semi": [ "error", "never" ],
    // "indent": [ "error", 2, {
    //   "SwitchCase": 1
    // } ],
    // "quotes": [ "error", "single" ],
    // "one-var": [ "error", "never" ],
    // "key-spacing": [ "error", {
    //   "beforeColon": false,
    //   "afterColon": true,
    //   "mode": "strict"
    // } ],
    // "comma-dangle": [ "error", "never" ],
    // "comma-spacing": [ "error", {
    //   "after": true,
    //   "before": false
    // } ],
    // "padded-blocks": ["error", "never"],
    // "no-extra-semi": "error",
    // "keyword-spacing": [ "error", {
    //   "before": true,
    //   "after": true
    // }],
    // "no-multi-spaces": "error",
    // "no-trailing-spaces":"error",
    // "space-before-blocks": "error",
    // "no-duplicate-imports": "error",
    // "array-bracket-spacing": [ "error", "always" ],
    // "no-multiple-empty-lines": ["error", {
    //   "max": 1,
    //   "maxBOF": 1
    // }],
    // "react-hooks/exhaustive-deps": "off",
    "space-before-function-paren": [0, "ignore"],
    "react/jsx-closing-bracket-location": "warn",
    "react/jsx-tag-spacing": "off",
    "array-bracket-spacing": [0, "never"],
    "react/prop-types": "off",
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "jsx-quotes": ["error", "prefer-double"],
    "no-console": "off",
    "camelcase": "warn",
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ]
  }
}
