.columns {
    svg {
        path {
            fill: var(--gray-600);
        }
    }

    &-content {
        &__body {
            max-height: 500px;
            max-width: 900px;
            overflow: auto;
            padding: 32px 24px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 40px;

            &--item {
                display: flex;
                flex-direction: column;

                >div:nth-of-type(2) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        &__action {
            padding: 16px 24px;
            background: var(--white);
            border-top: 1px solid var(--gray-400);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
        }
    }
}