@import 'src/styles/_typography.scss';

.layout-container {
    flex: 1 1 auto;
    display: flex;
    height: 100vh;
    overflow: hidden;
    @include font-size(1rem);
}

.layout-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include font-size(1rem);

    &__child {
        padding: 24px;
        height: 100%;
        overflow: auto;
        background-color: var(--background);
        @include font-size(1rem);
    }
}