@import 'src/styles/_mixin.scss';
@import 'src/styles/_variables.scss';

@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin typo($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin text-style($font-size, $font-weight, $line-height, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

.heading-1 {
  @include typo(96px, 900);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(94px, 900);
  }
}

.heading-2 {
  @include typo(64px, 700);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(62px, 700);
  }
}

.heading-3 {
  @include typo(40px, 700);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(38px, 700);
  }
}

.heading-4 {
  @include typo(32px, 700);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(2.25rem, 700);
  }
}

.heading-5 {
  @include typo(24px, 600);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(1.7rem, 600);
  }
}

.heading-6 {
  @include typo(20px, 600);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(1.4rem, 600);
  }
}

.subtitle-1 {
  @include typo(16px, 600);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(1.15rem, 600);
  }
}

.subtitle-2 {
  @include typo(14px, 600);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(13px, 600);
  }
}

.body-1 {
  @include typo(16px, 400);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(1.15rem, 400);
  }
}

.body-2 {
  @include typo(14px, 400);

  @include mediaQueryMax($screenXXLarge) {
    @include typo(13px, 400);
  }
}

.meta {
  font-size: 12px;
  line-height: 20px;
}

.f-medium {
  font-weight: 500;
}

.f-semi-bold {
  font-weight: 600;
}

.f-bold {
  font-weight: 700;
}