// START: Screen size
$screenXXXXLarge: 1920px;
$screenXXXLarge: 1600px;
$screenXXLarge: 1440px;
$screenXLarge: 1366px;
$screenLarge: 1280px;
$screenMedium: 1024px;
$screenSmall: 768px;
$screenExtraSmall: 414px;
$screenExtraXSmall: 375px;
