.filter-group {
    position: relative;

    &__dropdown {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 8px;
        width: 260px;
        height: 400px;
        background: var(--white);
        padding: 16px 0;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &--wrapper {
            height: 100%;
            overflow: auto;
        }

        &--item {
            color: var(--gray-900);
        }

        &--subitem {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 0 8px 0 24px;

            &:hover {
                background-color: var(--gray-200);
            }
        }
    }
}