.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__code {
    font-size: 26px;
    text-align: center;
    padding: 0 15px 0 15px;
    border-right: solid 2px $content-tertiary;
  }

  &__message {
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }
}
