.loading {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(36 37 45 / 40%);
    justify-content: center;
    align-items: center;  
}